<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
  <table border="2" style="width:300px" bgcolor="aqua">
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Возраст</th>
      <th>Email</th>
      <th>Посмотреть пользователя</th>
      <th>Изменить пользователя</th>
      <th>Удалить</th>
    </tr>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.getId()}"></td>
      <td th:text="${user.getName()}"></td>
      <td th:text="${user.getLastName()}"></td>
      <td th:text="${user.getAge()}"></td>
      <td th:text="${user.getEmail()}"></td>
      <td><a th:href="@{user/{id}(id=${user.getId()})}">Подробнее</a></td>
      <td><a th:href="@{user/edit/{id}(id=${user.getId()})}">Изменить</a></td>
      <td>
      <form method="delete" th:action="@{users/remove/{id}(id=${user.getId()})}" th:object="${user}">
        <button type="submit">Delete</button>
      </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<form method="get" th:action="@{/users/addForm}">
  <button type="submit">Add user</button>
</form>

</body>
</html>