<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
  <table border="2" style="width:300px" bgcolor="aqua">
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Возраст</th>
      <th>Email</th>
    </tr>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.name}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.age}"></td>
      <td th:text="${user.email}"></td>
    </tr>
    </tbody>
  </table>
</div>
<form method="POST" action="/addUser">
  <label for="name">Name </label>
  <input name="name" type="text" id="name">

  <label for="lastName">lastName </label>
  <input name="lastName" type="text" id="lastName">

  <label for="age">Age </label>
  <input name="age" type="text" id="age">

  <label for="email">Email </label>
  <input name="email" type="text" id="email">

  <button type="submit">Add</button>
</form>
</body>
</html>